extends ../layout
block content
 
  #admin.container
    .row
      .col-md-3.side-bar
        ul.nav.nav-pills.nav-stacked
          +admin-li(page.carousel,'carousel','首页管理')
          +admin-li(page.news,'news','新闻管理')
          +admin-li(page.project,'project','项目管理')
          +admin-li(page.introduce,'introduce','社团简介')
          +admin-li(page.member,'member','人员组成')
          +admin-li(page.user,'user','报名管理')
          +admin-li(page.login,'login','登陆管理')
      .col-md-9
        block admin-content


mixin admin-li(active,href,text)
  if active
    li.active
      a.text-center(href='/admin/#{href}')  #{text}
  else
    li
      a.text-center(href='/admin/#{href}')  #{text}