extends ../layout
block content
    #register.container
        .row
            .col-md-3
            .col-md-6
                form(role='form')
                    .form-group
                        label 姓名
                        input.form-control.name(type='text',placeholder='输入姓名',autofocus,required )
                    .form-group
                        label 学号
                        input.form-control.no(type='text',placeholder='输入学号',required)
                    .form-group
                        label 学院
                        input.form-control.acadamy(type='text',placeholder='输入学院',required)
                    .form-group
                        label 专业
                        input.form-control.profession(type='text',placeholder='输入专业',required)
                    .form-group
                        label 项目
                        select.form-control.combobox.project(required)
                            option(value,selected='selected') 选择项目
                            option(value='1') Pennsylvania
                            option(value='2') Connecticut
                            option(value='3') New York
                            option(value='4') Maryland
                            option(value='5') Virginia
                    .form-group
                        label 电话
                        input.form-control.phone(type='text',placeholder='输入电话',required)
                    .form-group
                        label Email
                        input.form-control.email(type='email',placeholder='输入电话',required)
                    .form-group
                        label 简历
                        input.resume(type='file',required)
                button.btn.btn-primary.submit 提交

                table.table.table-striped.table-hover.hidden
                    caption.text-primary 报名成功
                    tbody
                            tr
                                td 姓名
                                td.td-name 
                            tr
                                td 学号
                                td.td-no 
                            tr
                                td 学院
                                td.td-acadamy
                            tr
                                td 专业
                                td.td-profession 
                            tr
                                td 项目
                                td.td-project
                            tr
                                td 电话
                                td.td-phone 
                            tr
                                td Email
                                td.td-email
                            tr
                                td 简历
                                td.td-resume
                button.btn.btn-primary.again.hidden 继续报名
            .col-md-3
            