body
	padding-bottom: 40px
	color: #5a5a5a
	font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif
	.navbar-wrapper
		position: absolute
		top: 0
		right: 0
		left: 0
		z-index: 20
		&>.container
			padding-right: 0
			padding-left: 0
		.navbar
			padding-right: 15px
			padding-left: 15px
			.container
				width: auto
	.alert
		margin: 10px 0 10px 0

@media (min-width: 768px)
	.navbar-wrapper
		margin-top: 20px
		.container
			padding-right: 15px
			padding-left: 15px
		.navbar
			padding-left: 0
			padding-right: 0
			border-radius: 4px
