extends ../layout
block content
    
    #carousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li(data-target='#carousel', data-slide-to='0')
        li.active(data-target='#carousel', data-slide-to='1')
        li(data-target='#carousel', data-slide-to='2')
      .carousel-inner(role='listbox')
        .item
          img.first-slide(src='/5.jpg', alt='First slide')
          .container
            .carousel-caption
              h1 Example headline.
              p
                | Note: If you're viewing this page via a 
                code file://
                |  URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
              p
                a.btn.btn-primary(href='#', role='button') Sign up 
                a.btn.btn-primary(href='#', role='button') Sign in
        .item.active
          img.second-slide(src='/5.jpg', alt='Second slide')
          .container
            .carousel-caption
              h1 Another example headline.
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
        .item
          img.third-slide(src='/5.jpg', alt='Third slide')
          .container
            .carousel-caption
              h1 One more for good measure.
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
      a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#carousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next

    .container
      .row
        .col-md-6.news
          h2
            | 新闻
          hr
          ul
            li 
              a(href='#') 陈云贤副省长到视频图像智能分析与应用技术公安部重点实验室调研指导工作
            li 
              a(href='#')  陈云贤副省长到视频图像智能分析与应用技术公安部重点实验室调研指导工作
            li 
              a(href='#') 陈云贤副省长到视频图像智能分析与应用技术公安部重点实验室调研指导工作
        .col-md-6.projects
          h2
            | 项目
          hr
          h4 项目一
          p
            | 长期从事计算机图形图像处理、多媒体技术、视频编码、嵌入式图形图像处理、移动计算等方面的研究工作。目前研究课题包括H.264视频编码、图像检索、图像矢量化等。
          hr
          h4 项目一
          p
            | 长期从事计算机图形图像处理、多媒体技术、视频编码、嵌入式图形图像处理、移动计算等方面的研究工作。目前研究课题包括H.264视频编码、图像检索、图像矢量化等。
          hr
          h4 项目一
          p
            | 长期从事计算机图形图像处理、多媒体技术、视频编码、嵌入式图形图像处理、移动计算等方面的研究工作。目前研究课题包括H.264视频编码、图像检索、图像矢量化等。

            
