#admin-carousel > table {
  margin-top: 30px; }
  #admin-carousel > table td {
    vertical-align: middle; }
  #admin-carousel > table td.options {
    width: 80px;
    text-align: center; }
    #admin-carousel > table td.options span {
      cursor: pointer; }
    #admin-carousel > table td.options span:first-child {
      margin-right: 5px; }
