#admin-carousel .add-carousel {
  margin-bottom: 30px; }
#admin-carousel > table td {
  vertical-align: middle;
  text-align: center;
  min-width: 80px; }
  #admin-carousel > table td.content {
    vertical-align: baseline;
    text-align: left; }
  #admin-carousel > table td.options {
    min-width: 30px; }
    #admin-carousel > table td.options span {
      cursor: pointer; }
