
extends ../layout
block content
    #projects
        .ui.divider
        .ui.header.center.aligned.blue #{project.name}
        .ui.author-date  参与人： #{project.peoples}
        .ui.content #{project.content}
            
        