extends ../../layout
block content
    #admin-login
        .container
            .row
                .col-md-4
                .col-md-4
                    form.form-signin
                        h3.text-primary.text-center 管理员登陆
                        label.sr-only
                        input.name.form-control(type='text', placeholder='用户名', required='', autofocus='')
                        label.sr-only
                        input.password.form-control(type='password', placeholder='密码', required='')
                    button.btn.btn-primary.btn-block.login(type='submit') 登陆
                .col-md-4
            

