extends ../admin

block admin-content
  #admin-news
    .list
      button.btn.btn-primary.add-news 添加
      table.table.table-striped.table-bordered.table-hover
        thead
          tr
              th.text-center 名称
              th.text-center 内容概要
              th.text-center 添加日期
              th 
        tbody
          tr 
              td.options 
                span.glyphicon.glyphicon-edit
                span.glyphicon.glyphicon-remove
    .editor
      h3.text-center.text-primary 新闻修改
      button.btn.btn-primary.save 保存
      button.btn.btn-default.cancle 取消
      script#admin-news-editor(name='content', type='text/plain')