extends ../admin

block admin-content
  #admin-news
    .list
      button.btn.btn-primary.add-news 添加
      table.table.table-striped.table-bordered.table-hover
        thead
          tr
              th.text-center 名称
              th.text-center 内容简介
              th.text-center 添加日期
              th 
        tbody
          each doc in docs
            tr
              td.id.hidden #{doc._id}
              td.name #{doc.name}
              td.intro #{doc.intro}
              td.date #{doc.date}
              td.options 
                span.glyphicon.glyphicon-edit
                span.glyphicon.glyphicon-remove
    .editor
      h3.text-center.text-primary 
      button.btn.btn-primary.save 确定
      button.btn.btn-default.cancle 取消
      form(role='form')
        .form-group
          label 名称
          input.form-control.name(type='text', placeholder='请输入名称')
        .form-group
          label 简介
          textarea.form-control.intro(rows='3',placeholder='详细内容')  
      script#admin-news-editor(name='content', type='text/plain')