extends ../admin

block admin-content
  #admin-news
    .list
      button.btn.btn-primary.add-news 添加
      table.table.table-striped.table-bordered.table-hover
        thead
          tr
              th.text-center 名称
              th.text-center 添加日期
              th 
        tbody
          each doc in docs
            tr
              td.id.hidden #{doc._id}
              td.name #{doc.name}
              td.date #{doc.date}
              td.options 
                span.glyphicon.glyphicon-edit
                span.glyphicon.glyphicon-remove
    .editor
      h3.text-center.text-primary 
      button.btn.btn-primary.save 确定
      button.btn.btn-default.cancle 取消
      .input-group
        span.input-group-addon 名称
        input.form-control.name(type='text')
      script#admin-news-editor(name='content', type='text/plain')